$primary-color:     #353944;
$purple:            #7F84FF;
$green:             #1FA59A;
$white:             #fff;
$grey:              #FAFAFA;
$shadow-color:      #ccc;
$line-color:        #DBDBDB;
$footer-color:      #0F1936;

$shadow-box:        0px 3px 6px $shadow-color;