@import 'variables';

// Basic Setup
body {
    background: $white;
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
    font-size: 18px;

    section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    a {
        text-decoration: none !important;
        color: $primary-color !important;
    }
    
    #logo {
        font-size: 34px;
        color: $primary-color;
        font-family: 'Comfortaa', cursive !important;
    }
    
    .hero-title {
        font-size: 48px;
    }
    
    .hero-subtitle {
        margin-top: 70px;
        font-size: 24px;
    }
    
    .section-title {
        margin: 0 !important;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    .section-subtitle {
        margin: 0 !important;
        font-size: 22px;
        font-weight: normal;
        letter-spacing: 2px;
    }

    .separator {
        margin-bottom: 70px;
    }
    .big-separator {
        margin-bottom: 100px;
    }
    
    p {
        font-size: 18px;
    }

    .purple-button {
        margin-top: 70px;
        padding: 18px 50px !important;
        background: $purple;
        color: $white !important;
        border-radius: 4px;
    }

    .green-button {
        padding: 10px 20px !important;
        background: $green;
        color: $white !important;
        border-radius: 4px;
    }
}

.navbar {

    box-shadow: $shadow-box;

    .nav-link {
        font-size: 16px !important;
    }
    
}

#hero-section {

    padding: 0;

    .inner-content {
        padding: 90px 90px 120px 90px;
    }

    .line::after {
        content: '';
        display: block;
        width: 200px;
        height: 7px;
        background: $line-color;
        margin-top: 30px;
    }

}

#services {
    background: $grey;
}